.navigateBar {
    display: flex;
    padding: 0 30px;

    &__navigateList {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0;
        padding: 0;

        .links {

            display: flex;
            font-size: 1em;
            text-decoration: none;
            color: white;
            margin-left: 0;

            &:first-child {
                margin-right: 30px;
            }

            &:hover {
                cursor: pointer;
                color: brown;
                transition: .5s cubic-bezier(0.39, 0.575, 0.565, 1);
            }
        }
    }


}